/*----------------------------------reset----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
 header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearFix{
	clear: both;
	overflow: hidden;
}

input{
	border-radius: 5px;
	width: 180px;
	height: 20px; 
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9ceb2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9ceb2;
	box-shadow:inset 0px 1px 0px 0px #d9ceb2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9ceb2), color-stop(1, #948c75));
	background:-moz-linear-gradient(top, #d9ceb2 5%, #948c75 100%);
	background:-webkit-linear-gradient(top, #d9ceb2 5%, #948c75 100%);
	background:-o-linear-gradient(top, #d9ceb2 5%, #948c75 100%);
	background:-ms-linear-gradient(top, #d9ceb2 5%, #948c75 100%);
	background:linear-gradient(to bottom, #d9ceb2 5%, #948c75 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9ceb2', endColorstr='#948c75',GradientType=0);
	background-color:#d9ceb2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #7a6a53;
	display:inline-block;
	cursor:pointer;
	color:#7a6a53;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7a6a53;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #948c75), color-stop(1, #d9ceb2));
	background:-moz-linear-gradient(top, #948c75 5%, #d9ceb2 100%);
	background:-webkit-linear-gradient(top, #948c75 5%, #d9ceb2 100%);
	background:-o-linear-gradient(top, #948c75 5%, #d9ceb2 100%);
	background:-ms-linear-gradient(top, #948c75 5%, #d9ceb2 100%);
	background:linear-gradient(to bottom, #948c75 5%, #d9ceb2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#948c75', endColorstr='#d9ceb2',GradientType=0);
	background-color:#948c75;
	/*border: none;*/
}
.myButton:active {
	position:relative;
	top:1px;
}


/*----------------------------------Header---------------------------*/
h1,h2,h3{
	color: #4180ab;
}
h1{
	font-size: 36px;
	font-family: 'Helvetica Neue';
	font-weight: bold;

}
h3{
	font-size: 20px;
	font-family: 'Helvetica Neue';
	font-weight: bold;
}

p{
	color: #7a6a53;
	font-size: 18px;
}

ul li{
	color: #7a6a53;
}

#header{
	/*background: url(../img/top_background.png) no-repeat top;*/
	width: 1426px;
	height: 60px;
	background: #4180AB;
}

#loginForm{
	width: 480px;
	float: right;
	margin-top: 10px;
	margin-right: 30px; 
}

#usernameInput #passwordInput{
	border-radius: 5px;
}

/*#loginB
	border-style: none;
	text-indent: -999999999999px;
	width: 35px;
	background: url(../img/loginBtn.png) no-repeat center;
}*/
#middle{
	width: 1426px;
	/*height: 960px;*/
	background: #E4EBF0;
}

#cta{
	width: 1024px;
	height: 300px;
	margin: 0 auto;
	/*background: #ffffff;*/
	/*opacity: 0.5;*/
	/*background: url(../img/logo.png) no-repeat left;*/
}

#ctaImage{
	/*width: 400px;
	height: 400px;*/
	float: left;
}

#ctaP{
	font-size: 38px;
	font-family: 'Helvetica Neue';
	color: #948c75;
	font-weight: bold;
	overflow: hidden;
	float: left;
	margin-top: 150px;
	margin-left: 30px;
}

#joinBtn{
	margin-top: 20px;
	margin-left: 30px;
}
/*---------------------------------------sign up  left column----------------------------*/
#bottom{
	width: 1426px;
	height: 400px;
	margin-top: 20px;
	background-color: #ffffff;
}
#wrapper{
	width: 1024px;
	margin: 0 auto;
	/*background: #ffffff;*/
}
#signUpColumn{
	width: 507px;
	margin-right: 5px;
	float: left;
	margin-top: 10px;
}

#username, #password, #email{
	width: 400px;
	clear:both;
	overflow: hidden;
	margin-top: 10px;
	height: 30px;
	background-color: #d9ceb2;
}

#signUpBtn{
	margin-top: 10px;
	margin-bottom: 10px;
}

#featuresColumn{
	width: 502px;
	margin-left: 5px;
	overflow: hidden;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*----------------------------------------project page--------------------------------------*/

/*------------------project header--------------------*/
#welcome{
	width: 150px;
	color: #d5ded9;
	float: left;
	padding-top: 10px;
}

#myAccount{
	width: 150px;
	color: #d5ded9;
	overflow: hidden;
	float: left;
	padding-top: 10px;
}

#project{
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.titleName{
	width: 1024px;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
}

.titleName h1{
	width: 300px;
	float: left;
}

.add{
	overflow: hidden;
	float: right;
}

.strike{
	width: 1024px;
	height: 100px;
	background: url(../img/strike.png) no-repeat center;
}

.complete{
	width: 64px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 10px; 
}

.urgent{
	width: 64px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 10px; 
}

.active{
	width: 64px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 10px; 
}

.passDue{
	width: 64px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 10px; 
}

.projectName{
	width: 236px;
	height: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 30px; 
}

.dueDate{
	width: 236px;
	height: 50px;
	overflow: hidden;
	float: left;
	margin-left: 20px;
	margin-top: 30px; 
}

.view{
	width: 90px;
	height: 40px;
	overflow: hidden;
	float: left;
	margin-left: 50px;
	margin-top: 30px; 
}

.Edit{
	/*overflow: hidden;
	clear: both;*/
	margin-top: 20px;
	float: right;
}

/*---------------------------------------edit------------------------------------------*/
#statusImg{
	width: 1024px;
	height: 80px;
}
#addTaskName{
	width: 1024px;
	height: 50px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
	
}

#addTaskName h1{
	width: 300px;
	float: left;
}

.addProject{
	width: 1024px;
	margin:0 auto;
	height: 500px;
}

.cOne{
	margin-bottom: 20px;
}

.fieldOne,.fieldThree,.fieldFour{
	width: 1024px;
	height: 50px;
	margin-bottom: 10px;
}

.fieldTwo{
	width: 1024px;
	height: 100px;
	margin-bottom: 10px;
}

.editText{
	width: 300px;
	font-size: 20px;
	float: left;
}

.editInput{
	width: 600px;
	height: 50px;
	overflow: hidden;
	/*clear: both;*/
	float: left;
	background: #99b2b7;
}

.editInputDes{
	width: 600px;
	height: 100px;
	background: #99b2b7;
}

.save{
	overflow: hidden;
	clear: both;
	width: 120px;
	height: 40px;
	float: right;
}


/*---------------------------------------footer------------------------------------------*/

footer{
	width: 1426px;
	height: 40px;
	margin-top: 20px;
	background: #4180AB;
}

.copyright p{
	width: 450px;
	padding-top: 8px;
	margin: 0 auto;
	color: #d5ded9;
}

























